<% provide(:title, @courier.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="courier_info">
      <h1>
        <%= @courier.name %>
      </h1>
    </section>
  </aside>
</div>